name: Cron CI

on:
  push:
    branches:
      - master
  schedule:
    - cron: '0 8 * * 1,5'

jobs:
  # == TEST (No UI) == #
  test-no-ui:
    name: (Check & Build &) Test (No UI)
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        rust-toolchains:
          - 1.40.0
          - stable
          - beta
          - nightly
    steps:
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: default
          override: true
          toolchain: ${{ matrix.rust-toolchains }}

      - name: Clone repo
        uses: actions/checkout@v2

      - name: Cargo test (no UI)
        uses: actions-rs/cargo@v1
        env:
          RUSTC_BOOTSTRAP: "1"
          CI_SKIP_UI_TESTS: "1"
        with:
          command: test
          args: --features nightly
